@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;900&family=Roboto:wght@900&display=swap');

.App {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 865px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding:  0, 5%, 0, 5%;
}

.header {
  display: flex;
  font-weight: 900;
  font-family: 'Roboto Mono', sans-serif;
  font-size: x-large;
  
}

h1 {
  padding-right: 32px;
}

.headline {
  display: flex;
  align-items: center;
  font-size: large;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
   .resume-buttons-container {
    flex-direction: column;
  }

  .headline {
    flex-direction: column-reverse;
  }

  .resume-buttons-container > *:not(:last-child) {
    margin-bottom: 24px;
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  
}

.instagram {
  width: 50px;
  padding-right: 32px;
}

.github {
  width: 50px;
}
.rounded {
  border: 2px solid #000;
  border-radius: 50% !important;
  width: 250px;
}

.img_wrapper {
  padding-left: 24px;
}


.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #2a363b;
  font-weight: 400;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
}

a {
  color: #2a363b;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: rgb(108, 192, 170);
}

span:hover {
  color: rgb(234, 117, 79);
  cursor: help;
}

.popoverMusican {
  background-color: #2a363b;
}

.resume {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px 0 24px 0;
}

.resume-buttons-container {
  display: flex;
  /* Ensure child components are in a row */
}

/* Add margin-right to create space between buttons */
.resume-buttons-container > *:not(:last-child) {
  margin-right: 24px;
}

.resume-button {
  display: inline-block;
  font-size: 32px;
  font-family: 'Roboto Mono', sans-serif;
  padding: 10px 20px;
  border: 2px solid #2a363b;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.resume-button:hover {
  color: #ffffff;
  background-color: #2a363b; /* Darker shade of blue on hover */
}

.resume-button-label {
  display: inline-block;
}