@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;600&display=swap');

.App {
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12pt;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 600;
  color: #1a1a1a;
}

.big-text {
  padding-right: 36px;
  text-align: start;
}

 .title {
  font-weight: 400;
  font-size: 86px;
  color: #266043;
  text-align: justify;
 }

@media only screen and (max-width: 768px) {


  .resume-buttons-container {
    flex-direction: column;
    padding: 0 5% 0 5%;
  } 

  .resume-buttons-container > *:not(:last-child) {
    padding: 0 0 24px 0;
  }

  .drawer-button {
    width: 300px;
  }

  .main {
    justify-content: center;
    text-align: center;
  }

  .title {
    font-size: 56px;
    text-align: center;
  }

  .headline {
    flex-direction: column-reverse;
  }

  .resume-subsection-title {
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }

  .big-text {
    text-align:center;
    padding: 0 5% 0 5%;
  }

}

.social-links {
  display: flex;
  align-items: space-between;
  padding-top: 24px;
  color: #1a1a1a;
  
}

.instagram:hover {
  color: green;
}

.instagram {
  width: 30px;
}

.linkedin {
  width: 30px;
  padding-left: 16px;
}

.github {
  width: 30px;
  padding-left: 16px;
}

.rounded {
  border: 2px solid #266043;
  border-radius: 50% !important;
  width: 180px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  color: #1a1a1a;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #266043;
  font-weight: bold;
}


.resume-buttons-container {
  display: flex;
  padding-top: 24px;
  justify-content: space-around;
}

.resume-buttons-container > *:not(:last-child) {
  padding-right: 24px;
}

.resume-section {
  padding: 16px;
}

.resume-section-title {
  display: flex;
  align-items: center;
  color: #266043;
  font-size: large;
  font-weight: 600;
  padding-bottom: 16px;
}

.resume-subsection-title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}


.resume-icon {
  padding-right: 16px;
}

.drawer-button {
  display: flex;
  align-items: center;
  font-size: 19px;
  justify-content: center;
  font-family: "Roboto Slab";
  font-weight: 600;
  color: #266043;
  padding: 10px 20px;
  border: 2px solid #266043;
  border-radius: 8px;
  cursor: pointer;
  transition: "background-color" 0.3s ease;
}

.drawer-button:hover {
  color: #ffffff;
  background-color: #266043;
  cursor: pointer;
}

.drawer-button-label {
  display: inline-block;
}