.drawer-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0; /* Initially collapsed */
  background-color: rgba(255, 255, 255, 0.7); /* Adjust opacity for translucency */
  backdrop-filter: blur(5px); /* Apply backdrop blur */
  transition: transform 0.3s ease-out; /* Transition for sliding animation */
  transform: translateX(0); /* Initially off-screen */
  overflow-x: hidden; /* Hide horizontal overflow */
}

.drawer-container.open {
  width: auto; /* Set the width to show the drawer content */
}

.drawer-content {
  padding: 20px;
  /* Add any specific styles for the content within the drawer */
}

.drawer-header {
  display: flex;
  align-items: center;
}


