@import './App.css';

.drawer-container {
  position: fixed;
  text-align: left;
  color: #1a1a1a;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  overflow-x: hidden;
}

.drawer-container.open {
  width: auto; 
  max-width: 816px;
}

.drawer-content {
  padding: 20px;
  font-family: "Merriweather Sans";
}

.drawer-header {
  display: flex;
  align-items: center;
  font-family: "Merriweather Sans";
  color: #266043;
  font-size: 1.8em;
  font-weight: 600;
}

.drawer-header-chevron {
  padding-right: 12px;
}


