

html, body {
  margin: 0;
  padding: 0;
  
  font-family: 'Fira Code', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #ffffff;
}